* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url("/world.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.container > h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
}

.container > p {
    font-family: 'Courier New', Courier, monospace;
    margin: 1rem 2rem;
}

.adminBox {
    margin: 0.7rem;
}

.admin {
    margin-left: 10px;
    text-decoration: underline;
}


@media (max-width: 768px) {
    .container {
        padding: 1rem;
        text-align: center;
    }

    .container > h1 {
        font-size: 1.75rem;
        padding-top: 1rem;
    }

    .container > p {
        font-size: 0.9rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


@media (max-width: 480px) {
    .container > h1 {
        font-size: 1.5rem;
        padding-top: 0.5rem;
    }

    .container > p {
        font-size: 0.85rem;
        margin: 0.5rem;
    }
}